# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
.history/

# Environment variables
.env

# Frontend
/frontend/node_modules/
/frontend/build/

# Virtual environment
venv/

# Frontend packages
/frontend/node_modules/

# Other large/temporary files
*.log
__pycache__/
*.pyc

backend/.env